<div class="main-container">
  <ng-container *ngFor="let post of postList | keyvalue | paginate: {itemsPerPage: items, currentPage: page}">
    <div class="card mb-3 post-container">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{post.value.post_thumbnail.URL}}" class="card-img thumbnail" alt="thumbnail">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/postContent/{{post.value.ID}}">
              {{post.value.title}}
            </a></h5>
            <p class="card-text" [innerHTML]="post.value.excerpt"></p>
            <p class="card-text"><small class="text-muted">{{post.value.author.name}}</small></p>
            <p class="card-text"><small class="text-muted">
              {{post.value.date | date}}
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              </svg>
              {{post.value.discussion.comment_count}}
            </small></p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
